<div class="w-full p-4 bg-[#F5F5F5] flex flex-col gap-6 overflow-scroll">
  <div class="flex justify-end">
    <mat-icon class="" (click)="close()">close</mat-icon>
  </div>
  <section>
    <h1 class="font-Julius text-center text-[24px]">
      Changement de mot de passe
    </h1>
    <h2 class="font-Julius text-center text-[24px]">Confirmation</h2>
  </section>
  <section class="mt-4 flex flex-col items-center p-6 gap-2">
    <label for="" class="font-Agdasima text-[24px] text-left w-full"
      >Nouveau mot de passe :
      <input
        type="password"
        class="border rounded-[10px] w-full h-[50px] text-center"
        placeholder="*******"
      />
    </label>
    <label for="" class="font-Agdasima text-[24px] text-left w-full"
      >Confirmation :
      <input
        type="password"
        class="border rounded-[10px] w-full h-[50px] text-center"
        placeholder="*******"
      />
    </label>
  </section>
  <button
    class="p-2 h-[50px] bg-[#7C3DD4] rounded-[10px] text-[#F5F5F5] font-Agdasima text-[24px] text-center mt-4"
  >
    Confirmer
  </button>
</div>
