<div class="h-[150px] flex flex-col p-2 shadow-[0_2px_4px_rgba(0,0,0,0.30)]">
  <div class="flex flex-1 justify-center items-center">
    <img src="/assets/posteman.webp" alt="" class="w-30" />
  </div>
  <mat-icon class="absolute right-4 top-4 text-black" (click)="close()"
    >close</mat-icon
  >
  <div class="flex flex-2 justify-evenly items-center gap-10">
    <mat-icon class="icon-color">notifications</mat-icon>
    <p class="text-[#7C3DD4] text-[24px] font-Agdasima">Username</p>
    <mat-icon class="icon-color">logout</mat-icon>
  </div>
</div>
