<div class="bg-white flex min-h-screen font-Agdasima">
  <app-side-bar>
    <app-icon-back />
    <button (click)="changeDisabled()" [hidden]="!isDisable()">
      <mat-icon fontIcon="edit" />
    </button>
    <mat-icon fontIcon="help_center" class="absolute bottom-5" />
  </app-side-bar>
  <main class="flex-1 flex flex-col justify-center items-center px-5 gap-10">
    <div class="flex items-center gap-10">
      <!-- todo Ici il y à image avatar-->
      <h1 class="text-[32px] font-Julius">{{username()}}</h1>
    </div>
    <form
      [formGroup]="this.formProfil"
      class="flex flex-col w-full gap-5 max-w-72"
    >
      <div class="flex flex-col">
        <label for="lastName" class="text-2xl">Nom : </label>
        <input
          id="lastName"
          type="text"
          class="text-center text-2xl bg-white border rounded-[10px] py-2 placeholder:text-placeholder disabled:bg-disableGray"
          placeholder="Nom..."
          [formControl]="this.formProfil.controls.lastName"
        />
        @if (formProfil.controls['lastName'].touched || isSubmit()) {
        @if(formProfil.controls["lastName"].hasError("required")){
        <app-error-message message="Ce champs est requis" />
        } @else if(formProfil.controls["lastName"].hasError("maxlength")){
        <app-error-message
          message="Ce champs ne peut pas dépasser 35 caractères."
        />
        }@if(formProfil.controls["lastName"].hasError("minlength")){
        <app-error-message
          message="Ce champs doit contenir au moin 2 caractères"
        />
        } }
      </div>
      <div class="flex flex-col">
        <label for="firstName" class="text-2xl">Prénom : </label>
        <input
          id="firstName"
          type="text"
          class="text-center text-2xl bg-white border rounded-[10px] py-2 placeholder:text-placeholder disabled:bg-disableGray"
          placeholder="Prénom..."
          [formControl]="this.formProfil.controls.firstName"
        />
        @if (formProfil.controls['firstName'].touched || isSubmit()) {
        @if(formProfil.controls["firstName"].hasError("required")){
        <app-error-message message="Ce champs est requis" />
        } @else if(formProfil.controls["firstName"].hasError("maxlength")){
        <app-error-message
          message="Ce champs ne peut pas dépasser 35 caractères."
        />
        }@if(formProfil.controls["firstName"].hasError("minlength")){
        <app-error-message
          message="Ce champs doit contenir au moin 2 caractères"
        />
        } }
      </div>
      <div class="flex flex-col">
        <label for="email" class="text-2xl">Email : </label>
        <input
          id="email"
          type="email"
          class="text-center text-2xl bg-white border rounded-[10px] py-2 placeholder:text-placeholder disabled:bg-disableGray"
          placeholder="Email..."
          [formControl]="this.formProfil.controls.email"
        />
        @if (formProfil.controls['email'].touched || isSubmit()) {
        @if(formProfil.controls["email"].hasError("required")){
        <app-error-message message="Ce champs est requis" />
        } @else if(formProfil.controls["email"].hasError("maxlength")){
        <app-error-message
          message="Ce champs ne peut pas dépasser 320 caractères."
        />
        }@if(formProfil.controls["email"].hasError("email")){
        <app-error-message message="Ce n'est pas un email valide" />
        } }
      </div>
      <div class="flex flex-col">
        <label for="username" class="text-2xl">Pseudonyme : </label>
        <input
          id="username"
          type="text"
          class="text-center text-2xl bg-white border rounded-[10px] py-2 placeholder:text-placeholder disabled:bg-disableGray"
          placeholder="Pseudonyme..."
          [formControl]="this.formProfil.controls.username"
        />
        @if (formProfil.controls['username'].touched || isSubmit()) {
        @if(formProfil.controls["username"].hasError("required")){
        <app-error-message message="Ce champs est requis" />
        } @else if(formProfil.controls["username"].hasError("maxlength")){
        <app-error-message
          message="Ce champs ne peut pas dépasser 16 caractères."
        />
        }@if(formProfil.controls["username"].hasError("minlength")){
        <app-error-message
          message="Ce champs doit contenir au moin 3 caractères"
        />
        } }
      </div>
      <app-button-action
        class="max-w-72 w-full"
        type="submit"
        id="submitInscription"
        text="Confirmer"
        [hidden]="isDisable()"
        (action)="submitFormProfil()"
      />
    </form>
    <app-button-action
      class="max-w-72 w-full"
      type="button"
      id="changePassword"
      text="Changer son mot de passe"
    />
    <button
      aria-label="delete account"
      id="submitInscription"
      type="button"
      class="bg-error text-2xl max-w-72 text-white w-full py-2.5 rounded-[10px] shadowUnset col-span-2 place-self-center xl:w-1/2"
      [hidden]="!isDisable()"
    >
      Supprimer mon compte
    </button>
  </main>
</div>
