<div class="w-full p-5 bg-white">
  <div class="flex justify-end">
    <mat-icon class="" (click)="close()">close</mat-icon>
  </div>

  <form
    [formGroup]="formChangePassword"
    class="mt-4 flex flex-col items-center p-6 gap-10"
  >
    <h1 class="font-Julius text-center text-[24px]">
      Changement de <br />
      mot de passe
    </h1>
    <label for="" class="font-Agdasima text-[24px] text-left w-full"
      >Mot de passe actuel :
      <input
        [formControl]="formChangePassword.controls['oldPassword']"
        type="password"
        class="border rounded-[10px] w-full h-[50px] text-center"
        placeholder="Mot de passe actuel..."
      />
      @if(formChangePassword.controls.oldPassword.touched){
      @if(formChangePassword.controls.oldPassword.hasError("required")){
      <app-error-message message="Ce champs est requis" />
      }@else if(formChangePassword.controls.oldPassword.hasError("minlength")){
      <app-error-message
        message="Ce champs doit contenir au moin 16 caractères"
      />
      }@else if(formChangePassword.controls.oldPassword.hasError("maxlength")){
      <app-error-message
        message="Ce champs ne peut pas dépasser 255 caractères"
      />
      }@else if (formChangePassword.controls.oldPassword.hasError("lowercase"))
      {
      <app-error-message message="Doit contenir au moin une minuscule" />
      }@else if (formChangePassword.controls.oldPassword.hasError("uppercase"))
      {
      <app-error-message message="Doit contenir au moin une majuscule" />
      }@else if(formChangePassword.controls.oldPassword.hasError("number")){
      <app-error-message message="Doit contenir au moin un chiffre" />
      }@else if (formChangePassword.controls.oldPassword.hasError("symbol")) {
      <app-error-message message="Doit contenir au moin un caractère spécial" />
      } }
    </label>
    <label for="" class="font-Agdasima text-[24px] text-left w-full"
      >Nouveau mot de passe :
      <input
        [formControl]="formChangePassword.controls['password']"
        type="password"
        class="border rounded-[10px] w-full h-[50px] text-center"
        placeholder="Nouveau mot de passe..."
      />
      @if(formChangePassword.controls.password.touched){
      @if(formChangePassword.controls.password.hasError("required")){
      <app-error-message message="Ce champs est requis" />
      }@else if(formChangePassword.controls.password.hasError("minlength")){
      <app-error-message
        message="Ce champs doit contenir au moin 16 caractères"
      />
      }@else if(formChangePassword.controls.password.hasError("maxlength")){
      <app-error-message
        message="Ce champs ne peut pas dépasser 255 caractères"
      />
      }@else if (formChangePassword.controls.password.hasError("lowercase")) {
      <app-error-message message="Doit contenir au moin une minuscule" />
      }@else if (formChangePassword.controls.password.hasError("uppercase")) {
      <app-error-message message="Doit contenir au moin une majuscule" />
      }@else if(formChangePassword.controls.password.hasError("number")){
      <app-error-message message="Doit contenir au moin un chiffre" />
      }@else if (formChangePassword.controls.password.hasError("symbol")) {
      <app-error-message message="Doit contenir au moin un caractère spécial" />
      } }
    </label>
    <label for="" class="font-Agdasima text-[24px] text-left w-full"
      >Confirmation :
      <input
        [formControl]="formChangePassword.controls['confirmPassword']"
        type="password"
        class="border rounded-[10px] w-full h-[50px] text-center"
        placeholder="Confirmation..."
      />
      @if(formChangePassword.controls.confirmPassword.touched){
      @if(formChangePassword.controls.confirmPassword.hasError("required")){
      <app-error-message message="Ce champs est requis" />}@else if
      (formChangePassword.controls.confirmPassword.errors) {
      <app-error-message message="Ce n'est pas le même mot de passe" />
      }}
    </label>
    <button
      class="p-2 h-[50px] bg-[#7C3DD4] rounded-[10px] text-[#F5F5F5] font-Agdasima text-[24px] text-center mt-4 w-full"
    >
      Confirmer
    </button>
  </form>
</div>
