<div class="p-4 bg-[#7C3DD420] m-4 rounded-[10px] border">
  <ol class="p-2 flex flex-col gap-4">
    <div class="flex justify-evenly">
      <li>test</li>
      <mat-icon>notifications</mat-icon>
    </div>
    <hr />
    <div class="flex justify-evenly">
      <li>test</li>
      <mat-icon>notifications</mat-icon>
    </div>
    <hr />
    <div class="flex justify-evenly">
      <li>test</li>
      <mat-icon>notifications</mat-icon>
    </div>
    <hr />
    <div class="flex justify-evenly">
      <li>test</li>
      <mat-icon>notifications</mat-icon>
    </div>
    <hr />
    <div class="flex justify-evenly">
      <li>test</li>
      <mat-icon>notifications</mat-icon>
    </div>
    <hr />
    <div class="flex justify-evenly">
      <li>test</li>
      <mat-icon>notifications</mat-icon>
    </div>
  </ol>
</div>
