<div class="p-4 bg-[#7C3DD420] m-4 rounded-[10px] border">
  <ol class="px-2 flex flex-col gap-2">
    <div class="flex items-center justify-evenly">
      <li><a class="font-Agdasima text-[32px]">test</a></li>
      <mat-icon>notifications</mat-icon>
    </div>
    <hr />
    <div class="flex items-center justify-evenly">
      <li><a class="font-Agdasima text-[32px]">test</a></li>
      <mat-icon>notifications</mat-icon>
    </div>
    <hr />
    <div class="flex items-center justify-evenly">
      <li><a class="font-Agdasima text-[32px]">test</a></li>
      <mat-icon>notifications</mat-icon>
    </div>
    <hr />
    <div class="flex items-center justify-evenly">
      <li><a class="font-Agdasima text-[32px]">test</a></li>
      <mat-icon>notifications</mat-icon>
    </div>
    <hr />
    <div class="flex items-center justify-evenly">
      <li><a class="font-Agdasima text-[32px]">test</a></li>
      <mat-icon>notifications</mat-icon>
    </div>
    <hr />
  </ol>
</div>
