// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use './styles.css';
@use '@angular/material' as mat;

$agdasima: var(--font-Agdasima);
$julius: var(--font-Julius);
$placeholder: var(--color-placeholder);
$colorError: var(--color-error);
$colorValid: var(--color-valid);
$colorWhite: var(--color-white);
$colorPurple: var(--color-purple);
.agdasima {
  @include mat.theme(
    (
      typography: $agdasima,
    )
  );
}
.julius {
  @include mat.theme(
    (
      typography: $julius,
    )
  );
}
.toastFail {
  @include mat.snack-bar-overrides(
    (
      container-color: $colorError,
      supporting-text-size: 24px,
      container-shape: 10px,
    )
  );
  text-align: center;
}
.toastSucces {
  @include mat.snack-bar-overrides(
    (
      container-color: $colorValid,
      supporting-text-size: 24px,
      container-shape: 10px,
    )
  );
  text-align: center;
}
.sendIcon {
  color: $colorWhite;
  font-size: 24px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.spinnerMessage {
  width: 40px !important;
  height: 40px !important;
}
.arrowIcon {
  font-size: 24px !important;
  width: 24px !important;
  height: 24px !important;
}
.deleteIcon {
  color: $colorPurple !important;
  margin: 0 !important;
}
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: $agdasima,
      density: 0,
    )
  );
}
:root {
  @include mat.checkbox-overrides(
    (
      label-text-size: 16px,
    )
  );
  @include mat.menu-overrides(
    (
      container-shape: 10px,
    )
  );
}

.dialog-rectangle {
  @include mat.dialog-overrides(
    (
      container-shape: rectangle,
    )
  );
}
